<!-- Created by SubwaySamurai on 2021/03/02 -->

<!-- horinzontal borderless -->
<template>
    <div class="descriptions">
        <div class="descriptions-title">

        </div>
        <div class="descriptions-list">
            <table class="">
                <tbody>
                    <tr class="">
                        <td class="" colspan="1">
                            <span>
                                
                            </span>
                            <span>
                                
                            </span>
                        </td>
                        <td class="" colspan="1">
                            <span>
                                
                            </span>
                            <span>
                                
                            </span>
                        </td>
                        <td class="" colspan="1">
                            <span>
                                
                            </span>
                            <span>
                                
                            </span>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="" colspan="1">
                            <span>
                                
                            </span>
                            <span>
                                
                            </span>
                        </td>
                        <td class="" colspan="2">
                            <span>
                                
                            </span>
                            <span>
                                
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<!-- horizontal bordered -->
<template>
    <div class="descriptions">
        <div class="descriptions-title">

        </div>
        <div class="descriptions-list">
            <table class="">
                <tbody>
                    <tr class="">
                        <th class="" colspan="1">
                            <span>
                                
                            </span>
                        </th>
                        <td class="" colspan="1">
                            <span>
                                
                            </span>
                        </td>
                        <th class="" colspan="1">
                            <span>
                                
                            </span>
                        </th>
                        <td class="" colspan="1">
                            <span>
                                
                            </span>
                        </td>
                        <th class="" colspan="1">
                            <span>
                                
                            </span>
                        </th>
                        <td class="" colspan="1">
                            <span>
                                
                            </span>
                        </td>
                    </tr>
                    <tr class="">
                        <th class="" colspan="1">
                            <span>
                                
                            </span>
                        </th>
                        <td class="" colspan="1">
                            <span>
                                
                            </span>
                        </td>
                        <th class="" colspan="1">
                            <span>
                                
                            </span>
                        </th>
                        <td class="" colspan="3">
                            <span>
                                
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<!-- vertical boderless -->
<template>
    <div class="description">
        <div class="description-title">

        </div>
        <div class="description-list">
            <table class="">
                <tbody>
                    <tr class="">
                        <th class="" colspan="1">

                        </th>
                        <th class="" colspan="1">

                        </th>
                        <th class="" colspan="1">
                            
                        </th>
                    </tr>
                    <tr class="">
                        <td class="" colspan="1">

                        </td>
                        <td class="" colspan="1">

                        </td>
                        <td class="" colspan="1">

                        </td>
                    </tr>
                    <tr class="">
                        <th class="" colspan="1">

                        </th>
                        <th class="" colspan="2">

                        </th>
                    </tr>
                    <td class="">
                        <td class="" colspan="1">

                        </td>
                        <td class="" colspan="2">

                        </td>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</template>

<!-- vertical bordered -->
<template>
    <div class="description">
        <div class="description-title">

        </div>
        <div class="description-list">
            <table class="">
                <tbody>
                    <tr class="">
                        <th class="" colspan="1">

                        </th>
                        <th class="" colspan="1">

                        </th>
                        <th class="" colspan="1">
                            
                        </th>
                    </tr>
                    <tr class="">
                        <td class="" colspan="1">

                        </td>
                        <td class="" colspan="1">

                        </td>
                        <td class="" colspan="1">

                        </td>
                    </tr>
                    <tr class="">
                        <th class="" colspan="1">

                        </th>
                        <th class="" colspan="2">

                        </th>
                    </tr>
                    <td class="">
                        <td class="" colspan="1">

                        </td>
                        <td class="" colspan="2">

                        </td>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</template>
